<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel App</title>
</head>
<body>
  <header>
    <div>
    <!--  <img  class="logo" src="../media/img/BLB_side.png" alt="Belinda Lee Briggs Web Design" /> -->
    </div>
    <div class="nav">
      <a href="http://belindaleebriggs.com/portfolio" alt="Belinda Briggs Portfolio">See my work</a>
    </div>
 </header>

  <main>
    <div id = "app">
    <section id="form">
      <h1 class ="holder headline">Travel App</h1>
      <form class="" onsubmit="return Client.handleSubmit(event)">
        <div id="tripErrorMsg" class="errorMsg"></div>
        <div class ="holder tripDestination">
          <label for="destination">Enter Travel Destination here</label>
          <input type="text" id="destination" placeholder="type city name here" required>
        </div>
        <div class ="holder tripDetails">
          <label for="departureDate">When are you going?</label>
          <input type="date" class="myInput" id="departureDate" placeholder="Select your departure date" required>
          <button id="generate" type="submit"> Get Trip Forecast </button>
        </div>
      </form>
      
      <section id="resultsSection">
        <div class="holder entry">
          <div class="title">Your Trip Forecast</div>
          <div id="entryHolder">
            <div id="weatherIcon"></div>
            <div id="weather"></div>
            <div id="destinationImg"></div>
            </div>
        </div>
      </section> 
    </div>
  </main>
 <footer>
    <p><small>This is a Udacity Front End Web Dev Nanodegree Program Project</small></p>
  </footer>

  <script>
    // Check if service workers are supported 
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
  </script>
</body>
</html>