<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel App</title>
</head>
<body>
  <main>
    <div id = "app">
    <section id="form">
      <form class="" onsubmit="return Client.handleSubmit(event)">
        <h1 class="row1-col1-2 h1">Travel App</h1>
        <div id="tripErrorMsg" class="errorMsg row1-col1-2"></div>
        <div class ="holder tripDestination row2-col1-2">
          <label for="destination">Enter Travel Destination here</label>
          <input type="text" id="destination" placeholder="type city name here" required>
        </div>
        <div class ="holder tripDetails row3-col1-2">
          <label for="departureDate">When are you going?</label>
          <input type="date" class="myInput" id="departureDate" placeholder="Select your departure date" required>
        </div>
        <div class=".row4-col1">
          <button id="generate" type="submit"> Get Trip Forecast </button>
        </div>
      </form>
    </section>
      
      <section id="resultsSection">
        <div class="holder entry">
          <div id="forecastTitle" class="row1-col1-2 h2"></div>
          <div id="entryHolder">
            <div id="weatherIcon" class="row2-col1-c"></div>
            <div id="weather" class="row3-col1-c h3"></div>
            <div id="countdownTitle" class="row2-col2-c"></div>
            <div id="countdown" class="row3-col2-c h3"></div>
            <div id="destinationImg" class="row4-col1-2"></div>
            </div>
        </div>
      </section> 
    </div>
  </main>
 <footer>
    <p>This is a Udacity Front End Web Dev Nanodegree Program Project</p>
  </footer>

 <!-- /* <script> 
    Check if service workers are supported 
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
  </script> -->
</body>
</html>