body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
}

#app{
    display: grid;
    grid-template-columns: 1fr 1fr .25fr;
    grid-template rows: auto:
    column-gap: 15px;
    height:100vh;
    background: #f23557;
    color: #f0d43a;
    justify-content: center;
    grid-gap: .5em;
    font-family: 'Oswald', sans-serif;
    padding: 15px;
}

.headline {
    grid-row: 1;  grid-column: 1 / 2;
}
.zip {
  grid-row: 2;  grid-column: 1;
}

.feel{
  grid-row: 3 / 4;  grid-column: 1;

}
.entry{
  background: rgba(59, 74, 107, .4);
  grid-row: 2 / 3;  grid-column: 2;
}

#generate {
  grid-row: 5;  grid-column: 1;

}


#entryHolder{
}

#date{

}

#temp{

}

#content{

}

.headline {
  font-size: 3em;

}
.title{
  font-size: 1.5em;

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 1.5em;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 2.5em;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    border-radius: 5px;
}
h1{
    font-size: 2.5em;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}
